.alert {
  padding: 15px;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
  margin: 15px;
}
.wrap_main {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
@media screen and (max-width: 780px) {
  .wrap_main {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.wrap_main .row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.wrap_main .row > div {
  width: 25%;
  border: 1px solid #f00;
  box-sizing: border-box;
}
.wrap_main .row > div:nth-child(3) {
  border: 1px solid #000;
  width: calc(41.66666666666667% - 30px);
}
@media screen and (max-width: 960px) {
  .wrap_main .row > div:nth-child(3) {
    margin-left: calc(8.333333333333334% + 15px);
  }
}
@media screen and (max-width: 960px) {
  .wrap_main .row > div:nth-child(3) {
    margin-right: calc(8.333333333333334% + 15px);
  }
}
@media screen and (max-width: 960px) {
  .wrap_main .row > div:nth-child(3) {
    width: calc(100% - 30px);
  }
}
@media screen and (max-width: 960px) {
  .wrap_main .row > div:nth-child(3) {
    background-color: #0f0;
  }
}
.wrap_main_fluid {
  padding-left: 30px;
  padding-right: 30px;
}
@media screen and (max-width: 780px) {
  .wrap_main_fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}
