@import "normalize";

@font-face {
    font-family: "alegreya";
    src: url("../fonts/alegreyasanssc-black-webfont.woff2") format("woff2"),
    url("../fonts/alegreyasanssc-black-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/*================================
General definitions
 */
html {
    body {
        height: 100%;
        font: 16px / 1.42 "Roboto", Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-color: #FCF5E6;

        ul {
            margin: 0;
            padding: 0;

            li {
                list-style: none;
            }
        }

        a {
            text-decoration: none;
            color: #212121;
        }

        p {
            margin: 0;
        }
    }
}

/*===============================
header wrapper
 */
.wrap-head {
    width: 100%;
    background: url("../images/bg/hero.jpg") center 25.54% / cover no-repeat;
    overflow: hidden;
    margin-bottom: 90px;
}

/*==============================
header container
 */
.header {
    height: 180px;
    margin: 0 auto;
    width: 1290px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ----------------------------------------------------------------
header promo and decorative text
 */
.promo {
    transform: translate(11%, 15%);
}

.promo__link {
    display: block;
    position: relative;
}

.lined-text {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-22%, 60%);
    display: flex;
    flex-direction: column;
}

.lined-text__word {
    background: #212121;
    color: #FFFFFF;
    font-family: "alegreya", arial, sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    line-height: 0.8;
    font-weight: bold;
    width: max-content;
    padding: 5px 5px;
    margin: -2px 0;
    transform: rotate(0.6deg);

    &:nth-child(2n) {
        z-index: 1;
        margin-left: 5px;
    }

    &-yellow {
        color: #FFBC2F;
    }
}

/*==============================
mail (plate)
 */
.mail {
    text-align: center;
}

.mail__text {
    font-family: inherit;
    font-size: 16px;
}

.mail__link {
    background-color: #212121;
    color: #FFBC2F;
    padding: 5px 10px;
    font-size: 16px;
}

/*==============================
product view
 */

.wrap-section {
    &:after {
        content: "";
        display: block;
        box-sizing: border-box;
        border-bottom: 1px solid #E0D9C8;
        width: 100%;
        margin: 0;
    }
}

.wrap-content {
    width: 1100px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    //box-sizing: border-box;
}


.product-view {
    display: flex;
    padding: 10px 10px;
    background-color: #FFC92F;
    width: 100%;
    height: 650px;
    margin-bottom: 93px;
}


.product-image {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: 0 15px;

    &__pic {
        width: 100%;
    }
}


/*==============================
product form wrapper
 */
.wrap-form {
    box-sizing: border-box;
    background-color: #FCF5E6;
    width: 56%;
}

/*==============================
product form header
 */
.product-view__header {
    margin: 25px 28px;
}

.product-view__title {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: #FCBA2E;
}

.product-view__product-name {
    color: #1B1B1B;
    font-family: "Yanone Kaffeesatz", arial, sans-serif;
    font-weight: bold;
    font-size: 54px;
    line-height: 1;
    text-transform: uppercase;
}

.product-view__price {
    font-family: "Yanone Kaffeesatz", arial, sans-serif;
    font-weight: bold;
    font-size: 38px;
    width: max-content;
    background-color: #FFC92F;
    line-height: 1;
    padding: 4px 15px;
    margin-bottom: 29px;
}

.product-characteristics {
    margin: 31px 30px 0;
}

/*==============================
product-characteristics text info
 */
.product-characteristics__text {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: normal;
    color: #333230;
    font-size: 13px;
    margin-bottom: 17px;
    line-height: 1;

    &:last-child {
        margin-bottom: 34px;
    }
}

.options {
    margin: 28px 28px 33px;
}

/*==============================
 sizes menu picker
 */
.menu-sizes {
    display: flex;
    margin-bottom: 28px;

    &__item {
        border: 2px solid #E4DDCC;
        color: #4F4D4A;
        font-size: 15px;
        font-weight: bold;
        width: 50px;
        height: 50px;
        box-sizing: border-box;
        margin-right: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .150s;

        &:hover:not(&--disabled) {
            cursor: pointer;
            background-color: #FFC92F;
            border-color: #FFC92F;
        }

        &:last-child {
            margin-right: 0;
        }

        &--active {
            background-color: #FFC92F;
            border-color: #FFC92F;
        }

        &--disabled {
            color: #CAC3B3;
        }
    }
}

/*==============================
color picker menu
 */
.color-picker {
    display: flex;

    &__item {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        margin-right: 19px;
        position: relative;
        box-sizing: border-box;
        transition: all .150s;

        &:last-child {
            margin-right: 0;
        }

        &--checked, &:hover:not(&--disabled) {
            cursor: pointer;

            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                transform: translate(15.4%, -15.4%);
                width: 29px;
                height: 29px;
                border-radius: 50%;
                border: 3px solid #FFC92F;
            }
        }

        &--black {
            background-color: #2F2C25;
        }

        &--disabled {
            border: 3px solid #E0D9C8;

            &:before {
                border: 3px solid transparent;
            }
        }

        &--green {
            background-color: #529029;
        }

        &--blue {
            background-color: #39498D;
        }

        &--red {
            background-color: #D82727;
        }
    }
}

/*==============================
button
 */
.button {
    margin-left: 28px;
    width: 210px;
    height: 50px;
    background-color: #232323;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .150s;

    &:hover {
        cursor: pointer;
        background-color: #D82727;
    }
}

.button__text {
    font-family: "Yanone Kaffeesatz", arial, sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 32px;
    text-transform: uppercase;
    margin-top: 5px;
}

/*==============================
product info tabs
 */

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;

    .tabs__button {
        text-transform: uppercase;
        padding: 0 19px;
        margin-right: 23px;
        color: #1B1B1B;
        font-family: "Yanone Kaffeesatz", arial, sans-serif;
        font-size: 24px;
        font-weight: bold;
        transition: all .150s;
        margin-bottom: 40px;

        &:last-child {
            margin-right: 0;
        }

        &--active, &:hover {
            background-color: #1C1C1C;
            color: #FFC92F;
            cursor: pointer;
        }
    }
}

.product-info {
    width: 100%;
    margin-bottom: 90px;

    &__tab {
        border: 10px solid #FFC92F;
        box-sizing: border-box;
        display: none;
        opacity: 0;

        &--active {
            display: flex;
            opacity: 1;
        }
    }

    &__col1 {
        //padding: 44px 35px;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__col2 {
        border-left: 1px solid #E5DECE;
        flex: 2;
    }

    &__row {
        display: flex;
        justify-content: center;
        align-items: center;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__icon {
        height: 24px;
        width: 24px;
        margin-right: 26px;
    }

    &__description {
        font-family: "Roboto", Arial, sans-serif;
        line-height: 1;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        &-text {
            display: block;
        }
    }

    &__text {
        font-family: "Roboto", Arial, sans-serif;
        line-height: 1.6;
        font-size: 12px;
        padding: 44px 85px 44px 35px;
    }

    &__pict {
        width: 70%;
        margin-top: 45px;
        margin-bottom: 42px;
    }
}

.ordered-list {
    display: block;
    margin-bottom: 47px;

    &__item {
        list-style: decimal;
        font-family: "Roboto", Arial, sans-serif;
        line-height: 1.42;
        margin-bottom: 10px;
        padding-left: 10px;
    }
}

/*==============================
Sizes Table
 */
.grid-calc(@nCols, @nColsNeeded, @nColsBusy:0){
@busyPercent:  100% - (100% / @nCols * @nColsBusy);
    width: calc(@busyPercent / @nCols * @nColsNeeded);
}

.sizes-table {
    height: 100%;
    width: 100%;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
    text-align: center;
    border-collapse: collapse;

    &__item {
        box-sizing: border-box;
        border: 1px solid #e5decd;
        font-family: "Roboto", Arial, sans-serif;
        font-size: 12px;
        //width: calc(77.8% / 10);
        .grid-calc(9, 1, 2);

        &:first-child {
            text-align: left;
            padding-left: 15px;
            border-left: none;
            //width: calc(100% / 9 * 2);
            .grid-calc(9, 2);
        }
    }
    
    &__item--head{
        background-color: #f6efe0;
        font-size: 14px;
        font-weight: bold;
    }
}
